/*neesting*/
.pagCinco{
    background-color:  $color_primario;
    display: $contenedor_flex;
    flex-direction: $contenedor_columna;
    flex-wrap: wrap;
    .pagCinco__secUno{
        background: url(./admisione.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        height: 50vh;
        object-fit: cover;
        border-end-end-radius: 75px;
        border-end-start-radius: 75px;
        display: $contenedor_flex;
        flex-direction: $contenedor_columna;
        justify-content: $justify-start;
        .pagCinco__secUno__titulo{
            margin-left: 40px;
            margin-top: 150px;
            padding: 5px;
            font-family: $fuente_principal;
            font-weight: $fuente-bold;
            color:  rgb(63, 62, 62);
            font-size: map-get($sizes,30);
        }
        .pagCinco__secUno__text{
            display:$contenedor_flex;
            flex-direction: $contenedor_fila;
            width: 90%;
            margin: auto;
            margin-top: 20px;
            font-size: map-get($sizes,18);
            text-align: $text-center;
        }
    } 
    .pagCinco__secDos{
        .pagCinco__secDos__subtitulo{
            margin-top: 40px;
            margin-left: 40px;
            margin-bottom: 10px;
            color: #3883d8;
            text-align:$text-justify;
            font-size: map-get($sizes,25);
            position: relative;
        }
        .pagCinco__secDos__text{
            display: $contenedor_flex;
            flex-direction: $contenedor_fila;
            margin-left: 40px;
        }
        .pagCinco__secDos__formulario{
            width: 50%;
            display: block;
            color: rgb(0, 0, 0);
            margin-top: 10px;
            margin-left: 40px;
            font-size: map-get($sizes,15);
            .text__form{
                text-decoration:underline;
                font-weight: $fuente-bold;
            }
            .form {
                display: $contenedor_flex;
                flex-direction: $contenedor_columna;
                width: 400px;
                margin: 10px;
            }
            .label {
                margin-bottom: 10px;
                padding: 3px;
                text-decoration: underline;
            }
            .input.textarea {
                padding: 10px;
                margin-bottom: 20px;
                border: 2px solid #ccc;
                border-radius: 4px;
                font-size: map-get($sizes,16);
            }
            .input:focus, .textarea:focus {
                border-color: #0087FF;
            }
            .submit {
                margin: 5px;
                background-color: #0087FF;
                color: #fff;
                border: none;
                border-radius: 4px;
                padding: 10px 20px;
                font-size: map-get($sizes,16);
                cursor: pointer;
            }
            .submit:hover {
                background-color: #0066CC;
            }
        }
        
    }
}

/*media queries para mobile pequeño*/
@media screen and (max-width: 576px) and (min-width: 360px){
    .pagCinco{
        width: 100%;
        overflow: hidden;
        .pagCinco__secUno{
            background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
            height: 30vh;
            border-end-end-radius: 0px;
            border-end-start-radius: 0px;
            display: $contenedor_flex;
            flex-direction: $contenedor_fila;
            justify-content: $justify-center;
            align-items: $align-center;
            .pagCinco__secUno__titulo {
                display: $contenedor_flex;
                margin-top: 0px;
                margin: auto;
                font-size: map-get($sizes,20);
                color: rgb(7, 0, 0);
                }
            .pagCinco__secUno__text {
                font-size: map-get($sizes,13);
            }
        }
        .pagCinco__secDos{
            .pagCinco__secDos__subtitulo {
            font-size: map-get($sizes,15);
            margin-top: 0px;
            margin-left: 0px;
            margin-bottom: 0px;
            margin: 15px;
            }
            .pagCinco__secDos__text {
                font-size: map-get($sizes,13);
                margin-left: 15px;
            }
            .pagCinco__secDos__formulario {
                width: 100%;
                .text__form{
                    margin: 15px;
                }
                .form{
                    width: 300px;
                }
                .input.textarea {
                    font-size: map-get($sizes,13);
                }
            }
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 576px){
    .pagCinco{
        width: 100%;
        overflow: hidden;
        .pagCinco__secUno{
            background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
            height: 40vh;
            border-end-end-radius: 0px;
            border-end-start-radius: 0px;
            display: $contenedor_flex;
            flex-direction: $contenedor_fila;
            justify-content: $justify-center;
            align-items: $align-center;
            .pagCinco__secUno__titulo {
                display: $contenedor_flex;
                justify-content: $justify-center;
                margin-top: 0px;
                margin: auto;
                color: rgb(7, 0, 0);
                font-size: map-get($sizes, 25);
            }
            .pagCinco__secUno__text {
                font-size: map-get($sizes, 15);
            }
        }
        .pagCinco__secDos{
            .pagCinco__secDos__subtitulo {
                font-size: map-get($sizes, 20);
            }
            .pagCinco__secDos__text {
                font-size: map-get($sizes, 15);
            }
            .pagCinco__secDos__formulario {
                width: 80%;
            }
        }
    }
}

/*media queries para tablets - algunas modificaciones*/
@media screen and (max-width: 992px) and (min-width: 768px) {
    .pagCinco{
        .pagCinco__secUno{
            display: $contenedor_flex;
            .pagCinco__secUno__titulo {
                display: $contenedor_flex;
                justify-content: $justify-center;
                margin-top: 200px;
                font-size: map-get($sizes,25);
                color: rgb(7, 0, 0);
            }
        }
    }
}

