/*footer del index*/ 
.footer{
    background-color:$color_principal;
    display: $contenedor_flex;
    flex-direction: $contenedor_columna;
    justify-content: $justify-center;
    align-items: $align-center;
    .footer__text{
    margin-top: 25px;
    text-align: $text-center;
    font-size: map-get($sizes,15);
    font-family: $fuente_principal;
    color: $color_negro;
    }
    .footer__iconos{
        display: $contenedor_flex;
        flex-direction: $contenedor_fila;
        .icono{
            margin: 10px;
        }
    }
}
/*media queries para mobile*/
@media screen and (max-width: 576px) and (min-width: 360px){
    .footer{
        background-color: #fdfcfb 1%;
        .footer__text{
            font-size: map-get($sizes,13);
        }
    }
    
}
@media screen and (max-width: 768px) and (min-width: 576px) {
    .footer{
        background-color: #fdfcfb 1%;
    }
}
/*media queries para tablets - algunas modificaciones*/
@media screen and (max-width: 992px) and (min-width: 768px) {
    .footer{
        background-color: #fdfcfb 1%;
    }
}