/*nessting*/
.pagTres{
    display: $contenedor_flex;
    flex-direction: $contenedor_columna;
    background-image: $color_primario;
    .imgFondo{
        background: url(./galeria.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        object-fit: cover;
        border-end-end-radius: 75px;
        border-end-start-radius: 75px;
        display: $contenedor_flex;
        flex-direction: $contenedor_columna;
        justify-content: $justify-end;
    }
    .pagTres__titulo{
        margin-left: 40px;
        margin-bottom: 150px;
        padding: 5px;
        font-family: $fuente_principal;
        font-weight: $fuente-bold;
        color:  rgb(63, 62, 62);
        font-size: map-get($sizes,30);
    }
    .pagTres__secUno{
        display: $contenedor_flex;
        flex-direction: $contenedor_columna;
        margin: 10px;
        padding: 10px;
        .pagTres__secUno__galeria{
            margin: 10px;
            padding: 10px;
            font-size: map-get($sizes,20);;
            color: rgb(14, 15, 15);
            text-align: $text-justify;
        }
        .pagTres__secUno__frase{
            margin: 10px;
            padding: 15px;
            text-align:$text-center;
            font-size: map-get($sizes,18);
            font-family: $fuente_principal;
            font-weight: $fuente-bold;
            border: 6px outset rgba(255,80,216,0.77);
            background: rgba(255, 255, 255, 0.342);
            border-radius: 55px 55px 55px 55px;
            -webkit-border-radius: 55px 55px 55px 55px;
            -moz-border-radius: 55px 55px 55px 55px;
        }
        .pagTres__secUno__video{
            display: $contenedor_flex;
            flex-direction: $contenedor_columna;
            justify-content: $justify-center;
            align-items: $align-center;
            margin: auto;
            padding: 20px;
            position:relative;
        }
    }
    .pagTres__secDos{
        display: $contenedor_flex;
        flex-direction: $contenedor_fila;
        flex-wrap: wrap;
        justify-content: $justify-center;
        align-items: $align-center;
        .pagTres__secDos__galeria{
            margin: 15px;
            padding: 10px;
            font-weight: lighter, $fuente-bold;
            font-size: map-get($sizes,25);
            color:rgba(189, 53, 159, 0.77);
        
        }
        .pagTres__secDos__grilla{
            display: grid;
            margin: auto;
            justify-content: space-around;
            align-items: center;
            grid-template-columns:  1fr 1fr 1fr; 
            grid-template-rows:    1fr 1fr 1fr 1fr ; 
            gap: 5px 5px; 
            .boxs{
                box-sizing: content-box;
                width: 80%;
                padding: 10px;
                display: $contenedor_flex;
                flex-direction: $contenedor_columna ;
                justify-content: $justify-center;
                align-items: $align-center;
                object-fit: cover;
            }
        }
    }
}    

/*media queries mobile*/
@media screen and (max-width: 768px) and (min-width: 576px){
    .pagTres{
        background-size: contain;
        .pagTres__titulo {
            display: $contenedor_flex;
            justify-content: $justify-center;
            margin-bottom: 5px;
            font-size: map-get($sizes,25);
            color: rgb(7, 0, 0);
        }
        .pagTres__secUno{
            display: $contenedor_flex;
            margin: auto;
            flex-direction: $contenedor_columna;
            justify-content: $justify-center;
            align-items: $align-center;
            .pagTres__secUno__frase {
                width: 90%;
                font-size: map-get($sizes,12);
            }
            .pagTres__secUno__video{
                width: 90%;
                padding: 0px;
                .pagTres__secUno__text{
                    font-size: map-get($sizes,13);
                }
            }
            
        }
        .pagTres__secDos{
            width: 100vw;
            display: $contenedor_fila;
            flex-direction: $contenedor_columna;
            justify-content: $justify-center;
            align-items: $align-center;
            .pagTres__secDos__galeria {
                font-size: map-get($sizes,15);
            }
            .pagTres__secDos__grilla {
                display: grid;
                margin: auto;
                grid-template-columns: 1fr ;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                gap: 3px 3px;
                .boxs {
                    margin: 5px;
                    object-fit: cover;
                }
                .boxs:hover{
                    transform: none;
                }
            }
            
        }
    }
}

/*media queries para tablets - algunas modificaciones*/
@media screen and (max-width: 992px) and (min-width: 768px) {
    .pagTres{
        .pagTres__titulo {
            display: $contenedor_fila;
            justify-content: $justify-center;
            margin-bottom: 15px;
            font-size: map-get($sizes,25);
            color: rgb(7, 0, 0);
        }
        .pagTres__secDos{
            .pagTres__secDos__grilla {
                display: grid;
                margin: auto;
                grid-template-columns: 1fr 1fr  ;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
                gap: 3px 3px;
            }
        }
    }
    
}
