/*neesting*/
.pagCuatro{
    background-color:  $color_primario;
    display: $contenedor_flex;
    flex-direction: $contenedor_columna;
    overflow:hidden
    .pagCuatro__secUno{
        background: url(./pexels-fauxels-3184419.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        height: 50vh;
        object-fit: cover;
        border-end-end-radius: 75px;
        border-end-start-radius: 75px;
        display: $contenedor_flex;
        flex-direction: $contenedor_columna;
        justify-content: $justify-start;
        .pagCuatro__secUno__titulo{
            margin-left: 40px;
            margin-top: 50px;
            padding: 5px;
            font-family: $fuente_principal;
            font-weight: $fuente-bold;
            color:  rgb(63, 62, 62);
            font-size: map-get($sizes, 30);
        }
    }
    .pagCuatro__secDos{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 15px;
        .pagCuatro__div{
            display: $contenedor_flex;
            flex-direction: $contenedor_fila;
            flex-wrap: wrap;
            margin: 10px;
            justify-content: $justify-around;
            .pagCuatro__div__titulo{
                width: 100%;
                margin: 20px;
                padding: 20px;
                color: $color_negro;
                text-align: $text-center;
                font-size: map-get($sizes, 20);
                justify-content: $justify-center;
                position: relative;
            }
            .pagCuatro__div__img{
                width: 28%;
                margin-left: 60px;
                margin-bottom: 10px;
                border-radius:100%;
                filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.7));
            }
            .pagCuatro__div__name{
                display: $contenedor_flex;
                flex-direction: $contenedor_fila;
                margin-left: 150px;
                width: 100%;
                font-size: map-get($sizes, 13);
                text-align: $text-center;
                font-weight: $fuente-bold;
            
            }
            .pagCuatro__div__text{
                display: $contenedor_flex;
                justify-content: baseline;
                margin: auto;
                width: 60%;
                font-size: map-get($sizes,15);
                text-align: $text-justify;
            }
        }
        .pagCuatro__divDos{
            display: $contenedor_flex;
            flex-direction: $contenedor_fila;
            flex-wrap: wrap;
            justify-content: $justify-center;
            margin-top: 40px;
            .pagCuatro__divDos__titulo{
                width: 100%;
                margin: 20px;
                color: $color_negro;
                text-align: $text-center;
                font-size: map-get($sizes, 20);
                justify-content: $justify-center;
                position: relative;
            }
            .pagCuatro__divDos__img{
                margin:50px;
                width: 35%;
                border-radius:20%;
                filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.7));
                object-fit: cover;
            }
            .pagCuatro__divDos__text{
                width: 90%;
                margin: auto;
                text-align: $text-justify;
                font-size: map-get($sizes,15);
            
            }
        }
        .pagCuatro__divTres{
            display: $contenedor_flex;
            flex-direction: $contenedor_fila;
            flex-wrap: wrap;
            justify-content: $justify-around;
            margin-top: 40px;
            margin-bottom: 20px;
            .pagCuatro__divTres__box{
                @include flexible (column, center, center);
                width: 20%;
                margin: auto;
                border: 3px solid rgba(0, 0, 0, 0.534);
                border-radius: 20px;
            }
            .pagCuatro__divTres__img{
                display: $contenedor_flex;
                flex-direction: $contenedor_fila;
                flex-wrap:wrap;
                width: 90%;
                margin: 20px;
                border-radius: 20%;
            }
            .pagCuatro__divTres__text{
                text-align: $text-center;
                font-size: map-get($sizes,13);
                font-weight: $fuente-bold;
            }
            
        }
    }
    .pagCuatro__secTres{
        display: $contenedor_flex;
        flex-direction: $contenedor_columna;
        .pagCuatro__secTres__subtitulo{
            width: 100%;
            margin: 20px;
            color: $color_negro;
            text-align: $text-center;
            font-size: map-get($sizes, 20);
            justify-content: $justify-center;
            position: relative;
        }
        .pagCuatro__secTres__mapa{
            width: 50%;
            margin: auto;
            margin-bottom: 40px;
            
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 576px){
    .pagCuatro{
        background-size: contain;
        .pagCuatro__secUno{
            .pagCuatro__secUno__titulo {
                margin-top: 5px;
                font-size: map-get($sizes,25);
                color: rgb(7, 0, 0);
            }
        }
        .pagCuatro__secDos {
            margin-top: 5px;
            margin-bottom: 5px;
            .pagCuatro__div{
                display: $contenedor_flex;
                margin: 5px;
                .pagCuatro__div__titulo {
                    font-size: map-get($sizes,20);
                }
                .pagCuatro__div__img {
                    width: 25%;
                    margin-left: 10px;
                }
                .pagCuatro__div__name {
                    margin-left: 30px;
                    font-size: map-get($sizes,10);
                }
                .pagCuatro__div__text {
                    width: 60%;
                    margin-right: 10px;
                    font-size: map-get($sizes,12);
                }
            }
            .pagCuatro__divDos{
                .pagCuatro__divDos__img {
                    margin: 10px;
                    width: 40%;
                }
                .pagCuatro__divDos__text {
                    font-size: map-get($sizes,12);
                }
            }
            .pagCuatro__divTres{
                .pagCuatro__divTres__box {
                    width: 20%;
                    border: 2px solid rgba(0, 0, 0, 0.534);
                    .pagCuatro__divTres__text {
                        font-size: map-get($sizes,10);
                    }
                }
            }
        } 
        .pagCuatro__secTres {
            display: $contenedor_flex;
            flex-direction: $contenedor_columna;
            .pagCuatro__secTres__mapa {
                width: 80%;
            }
        }   
    }
}

/*media queries para tablets - algunas modificaciones*/
@media screen and (max-width: 992px) and (min-width: 768px) {
    .pagCuatro{
        .pagCuatro__secUno{
            .pagCuatro__secUno__titulo {
                display: $contenedor_flex;
                justify-content: $justify-start;
                margin-top: 5px;
                font-size: map-get($sizes,25);
                color: rgb(7, 0, 0);
            }
        }
        .pagCuatro__secDos{
            .pagCuatro__div__img {
                width: 30%;
                margin-left: 10px;
            }
            .pagCuatro__div__name {
                margin-left: 40px;
                font-size: 10px;
            }
            .pagCuatro__div__text {
                width: 60%;
                margin-right: 10px;
                font-size: 11px;
                ;
            }
        }
    }
    
}



