@charset "UTF-8";
/*variables*/
/*colores*/
/*contenedores*/
/*fuentes*/
/*textos*/
/* estilo de fuente*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,300;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&family=Montserrat&family=Roboto:ital,wght@0,300;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*esta clase tiene el estilo principal de la pag  HEADER */
.header {
  /*background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);*/
  background-color: #f1e7e2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.headerLogo {
  margin: 15px;
}

/* estilos del navegador*/ /*padre*/
.header__listaNav {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  list-style: none;
}

/*boton nav*/ /*hijo*/
.header__listaNav__linkNav {
  margin: 5px;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: lighter;
  color: rgb(32, 32, 32);
  font-size: 18px;
  transform: perspective(1px) translateZ(0);
  /*border: 1px solid  #ff9770;;
  border-radius: 5px;
  background-color: #f1e7e2ad;*/
}

.header__listaNav__linkNav:hover {
  text-decoration: underline;
  color: #f8a485;
  background-color: rgba(252, 238, 227, 0.384);
}

/*main del index*/ /*se adapta al contenido que tiene de largo width*/
.inicio {
  background-color: rgb(247, 242, 246);
}

/*seccion 1 presentacion*/
.inicio__secUno {
  background: url(./inicio2o.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-end-start-radius: 75px;
  border-end-end-radius: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inicio__secUno__titulo {
  margin: 5px;
  padding: 0px;
  font-family: "Courgette", cursive;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 60px;
}

.inicio__secUno__subtitulo {
  color: black;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.inicio__secUno__textUno {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 40px;
  padding: 10px;
  color: rgb(5, 5, 5);
  text-align: justify;
  font-size: 18px;
}

/*seccion 2 informacion */
.inicio__secDos {
  width: 95%;
  display: flex;
  margin: auto;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}

.inicio__secDos__box {
  display: flex;
  width: 30%;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 10px;
  box-shadow: 15px 18px 26px 3px rgba(110, 108, 90, 0.63);
  -webkit-box-shadow: 15px 18px 26px 3px rgba(110, 108, 90, 0.63);
  -moz-box-shadow: 15px 18px 26px 3px rgba(110, 108, 90, 0.63);
  border: 2px dotted rgba(250, 99, 30, 0.808);
  border-radius: 15px;
  background: rgba(245, 202, 187, 0.2823529412);
  align-items: center;
}

.inicio__secDos__box:hover {
  transform: scale(1.1);
}

.inicio__secDos__box__name {
  color: rgb(29, 25, 34);
  align-items: flex-start;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  position: relative;
}

.inicio__secDos__box__text {
  color: rgb(45, 73, 73);
  text-align: justify;
  font-size: 15px;
  position: relative;
}

.inicio__secDos__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

/*footer del index*/
.footer {
  background-color: #f1e7e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__text {
  margin: 3px;
  text-align: center;
  font-size: small;
  font-family: "Montserrat", sans-serif;
  color: black;
}

/*comienzo pag nuestra propuesta*/
.pagDos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(247, 242, 246);
}

/* primera seccion*/
.pagDos__secUno {
  background: url(./fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  object-fit: cover;
  border-end-start-radius: 75px;
  border-end-end-radius: 75px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.pagDos__secUno__titulo {
  margin-left: 40px;
  margin-bottom: 150px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgb(63, 62, 62);
  font-size: 30px;
}

.pagDos__secDos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.pagDos__secDos__img--der {
  width: 80%;
  margin: 15px;
  border-end-start-radius: 75px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.pagDos__secDos__img--izq {
  width: 80%;
  margin: 15px;
  border-end-end-radius: 75px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.pagDos__secDos__text {
  width: 50%;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  color: rgb(5, 5, 5);
  text-align: justify;
}

/*comienzo pag galeria*/
.pagTres {
  display: flex;
  flex-direction: column;
  background-image: rgb(247, 242, 246);
}

.imgFondo {
  background: url(./galeria.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  object-fit: cover;
  border-end-end-radius: 75px;
  border-end-start-radius: 75px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.pagTres__titulo {
  margin-left: 40px;
  margin-bottom: 150px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgb(63, 62, 62);
  font-size: 30px;
}

.pagTres__secUno {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.pagTres__secUno__galeria {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  color: rgb(14, 15, 15);
  text-align: justify;
}

/*video explicando metodo montessori*/
.pagTres__secUno__frase {
  margin: 10px;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border: 6px outset rgba(255, 80, 216, 0.77);
  background: rgba(255, 255, 255, 0.342);
  border-radius: 55px 55px 55px 55px;
  -webkit-border-radius: 55px 55px 55px 55px;
  -moz-border-radius: 55px 55px 55px 55px;
}

.pagTres__secUno__video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
  position: relative;
}

/* estilado de la galeria de imagenes con grid*/
.pagTres__secDos{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pagTres__secDos__galeria {
  margin: 15px;
  font-weight: lighter, bold;
  font-size: 25px;
  color: rgba(189, 53, 159, 0.77);
  text-align: start;
}

.pagTres__secDos__grilla {
  display: grid;
  margin: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr  ;
  gap: 5px 5px;
  /*agregar areas segun que use*/
}

.boxs {
  box-sizing:border-box;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.boxs:hover{
  transform: scale(1.1);
}
/*comienzo pag quienes somos*/
.pagCuatro {
  background-color: rgb(247, 242, 246);
  display: flex;
  flex-direction: column;
}

.pagCuatro__secUno {
  background: url(./pexels-fauxels-3184419.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 50vh;
  object-fit: cover;
  border-end-end-radius: 75px;
  border-end-start-radius: 75px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0px;
  padding: 0px;
}

.pagCuatro__secUno__titulo {
  margin-left: 40px;
  margin-top: 50px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgb(63, 62, 62);
  font-size: 30px;
}

/*presentacion personal institucional*/
.pagCuatro__secDos {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
} /*ver propiedades*/
.pagCuatro__div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: space-around;
}

.pagCuatro__div__titulo {
  width: 100%;
  margin: 20px;
  padding: 20px;
  color: black;
  text-align: center;
  font-size: 20px;
  justify-content: center;
  position: relative;
}

.pagCuatro__div__img {
  width: 28%;
  margin-left: 60px;
  margin-bottom: 10px;
  border-radius: 100%;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.7));
}

.pagCuatro__div__name {
  display: flex;
  flex-direction: row;
  margin-left: 120px;
  width: 100%;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}

.pagCuatro__div__text {
  display: flex;
  justify-content: baseline;
  margin: auto;
  width: 60%;
  font-size: 18px;
  text-align: justify;
}

/*equipo docente*/
.pagCuatro__divDos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.pagCuatro__divDos__titulo {
  width: 100%;
  margin: 20px;
  color: black;
  text-align: center;
  font-size: 20px;
  justify-content: center;
  position: relative;
}

.pagCuatro__divDos__img {
  margin: 50px;
  width: 35%;
  border-radius: 20%;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.7));
  -o-object-fit: cover;
     object-fit: cover;
}

.pagCuatro__divDos__text {
  width: 90%;
  margin: auto;
  text-align: justify;
  font-size: 18px;
}

/*docentes*/
.pagCuatro__divTres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 20px;
}

.pagCuatro__divTres__box {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: auto;
  border: 3px solid rgba(0, 0, 0, 0.534);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.pagCuatro__divTres__img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 20px;
  border-radius: 20%;
}

.pagCuatro__divTres__text {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

/*ubicacion*/
.pagCuatro__secTres {
  display: flex;
  flex-direction: column;
}

.pagCuatro__secTres__subtitulo {
  width: 100%;
  margin: 20px;
  color: black;
  text-align: center;
  font-size: 20px;
  justify-content: center;
  position: relative;
}

.pagCuatro__secTres__mapa {
  width: 50%;
  margin: auto;
  margin-bottom: 40px;
}

/*comiendo pag contacto*/
.pagCinco {
  background-color: rgb(247, 242, 246);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*primera seccion*/
.pagCinco__secUno {
  background: url(./admisione.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  object-fit: cover;
  border-end-end-radius: 75px;
  border-end-start-radius: 75px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.pagCinco__secUno__titulo {
  margin-left: 40px;
  margin-top: 150px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgb(63, 62, 62);
  font-size: 30px;
}

.pagCinco__secUno__text {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

/*segunda seccion de formulario*/
.pagCinco__secDos__subtitulo {
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 10px;
  color: #3883d8;
  text-align: justify;
  font-size: 25px;
  position: relative;
}

.pagCinco__secDos__text {
  display: flex;
  flex-direction: row;
  margin-left: 40px;

}

.pagCinco__secDos__formulario {
  width: 50%;
  display: block;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-left: 40px;
  font-size: 15px;
}


.text__form {
  text-decoration: underline;
  font-weight: bold;
}

/*media queries para mobile*/
@media screen and (max-width: 768px) and (min-width: 576px) {
  .header {
    display: flex;
  }
  .headerLogo {
    width: 20%;
    padding: 5px;

  }
  .header__listaNav {
    width: 80%;
  }
  .header__listaNav__linkNav {
    font-size: 11px;
  }
  .inicio {
    background: rgb(238, 237, 232);
  }
  .inicio__secUno__titulo {
    font-size: 30px;
  }
  .inicio__secUno__subtitulo {
    font-size: 15px;
  }
  .inicio__secUno__textUno {
    font-size: 13px;
  }
  .inicio__secDos {
    display: flex;
    margin: 10px;
    padding: 10px;
  }
  .inicio__secDos__box {
    display: flex;
    width: 80%;
  }
  .inicio__secDos__box__name {
    font-size: 10px;
  }
  .inicio__secDos__box__text {
    font-size: 10px;
  }
  .pagDos {
    display: block;
  }
  .pagDos__secUno__titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 25px;
    color: rgb(7, 0, 0);
  }
  .pagDos__secDos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    vertical-align: baseline;
    margin: auto;
  }

  .pagDos__secDos__img--der {
    padding: auto;
    width: 70%;
  }
  .pagDos__secDos__img--izq{
    padding: auto;
    align-items: flex-end;
    width: 70%;
  }
  .pagDos__secDos__text {
    width: 60%;
    margin: 10px;
    font-size: 12px;
  }

  /*galeria*/
  .pagTres{
    background-size: contain;
  }
  .pagTres__titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 25px;
    color: rgb(7, 0, 0);
  }
  .pagTres__secUno{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /*video explicando metodo montessori*/
  .pagTres__secUno__frase {
    width: 90%;
    font-size: 12px;
  }
  .pagTres__secUno__video{
    width: 90%;
    padding: 0px;
  }
  .pagTres__secUno__text{
    font-size: 13px;
  }

  .pagTres__secDos{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pagTres__secDos__galeria {
    font-size: 15px;
  }

  .pagTres__secDos__grilla {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 3px 3px;
    /*agregar areas segun que use*/
  }

  .boxs {
    padding: 5px;
    object-fit: cover;
  }
  .boxs:hover{
    transform: none;
  }

  /*pagina institucion*/ 
  .pagCuatro{
    background-size: contain;
  }
  .pagCuatro__secUno__titulo {
    display: flex;
    justify-content: start;
    margin-top: 5px;
    font-size: 25px;
    color: rgb(7, 0, 0);
  }
  
  /*presentacion personal institucional*/
  .pagCuatro__secDos {
    margin-top: 5px;
    margin-bottom: 5px;
  } /*ver propiedades*/
  .pagCuatro__div{
    display: flex;
    margin: 5px;
  }
  .pagCuatro__div__titulo {
    font-size: 20px;
  }
  
  .pagCuatro__div__img {
    width: 30%;
    margin-left: 10px;
  }
  
  .pagCuatro__div__name {
    margin-left: 30px;
    font-size: 10px;
  }
  
  .pagCuatro__div__text {
    width: 60%;
    margin-right: 10px;
    font-size: 12px;

  }
  
  /*equipo docente*/  
  .pagCuatro__divDos__img {
    margin: 10px;
    width: 40%;
  }
  .pagCuatro__divDos__text {
    font-size: 12px;
  }

  /*docentes*/
  .pagCuatro__divTres__box {
    width: 20%;
    border: 2px solid rgba(0, 0, 0, 0.534);
  }
  .pagCuatro__divTres__text {
    font-size: 10px;
  }
  
  /*ubicacion*/
  .pagCuatro__secTres {
    display: flex;
    flex-direction: column;
  }
  .pagCuatro__secTres__mapa {
    width: 80%;
  }
  
  /*admisiones*/
  .pagCinco{
      background-size: contain;
  }
  .pagCinco__secUno__titulo {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-size: 25px;
    color: rgb(7, 0, 0);
    }
  
  .pagCinco__secUno__text {
    font-size: 13px;
  }
  
  /*segunda seccion de formulario*/
  .pagCinco__secDos__subtitulo {
    font-size: 20px;

  }
  
  .pagCinco__secDos__text {
    font-size: 15px;
  
  }
  
  .pagCinco__secDos__formulario {
    width: 90%;
  }
  

}
/*media queries para tablets - algunas modificaciones*/
@media screen and (max-width: 992px) and (min-width: 768px) {
  .inicio {
    background: rgb(238, 237, 232);
  }
  .inicio__secUno__titulo {
    font-size: 30px;
  }
  .inicio__secUno__subtitulo {
    font-size: 15px;
  }
  .inicio__secUno__textUno {
    font-size: small;
  }
  .inicio__secDos {
    display: flex;
    margin: 10px;
    padding: 10px;
  }
  .inicio__secDos__box {
    display: flex;
    width:80%;
  }
  .inicio__secDos__box__name {
    font-size: 13px;
  }
  .inicio__secDos__box__text {
    font-size: 13px;
  }
  .pagDos__secDos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    vertical-align: baseline;
    margin: auto;
  }
  .pagDos__secUno__titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 25px;
    color: rgb(7, 0, 0);
  }
  .pagDos__secDos__text {
    width: 50%;
    margin: 10px;
    font-size: 15px;
  }
  .pagTres__titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 25px;
    color: rgb(7, 0, 0);
  }
  .pagTres__secDos__grilla {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr  ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 3px 3px;
    /*agregar areas segun que use*/
  }
  .pagCuatro__secUno__titulo {
    display: flex;
    justify-content: start;
    margin-top: 5px;
    font-size: 25px;
    color: rgb(7, 0, 0);
  }
  .pagCuatro__div__img {
    width: 30%;
    margin-left: 10px;
  }
  
  .pagCuatro__div__name {
    margin-left: 40px;
    font-size: 10px;
  }
  
  .pagCuatro__div__text {
    width: 60%;
    margin-right: 10px;
    font-size: 13px;
    ;
  }
  .pagCinco__secUno{
    display: flex;
  }
  .pagCinco__secUno__titulo {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-size: 25px;
    color: rgb(7, 0, 0);
  }
}